---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}
{% for year in (2015..2025) reversed %}
  {% assign year_publications = site.publications | where: "date", year %}
  {% if year_publications.size > 0 %}
    <div class="publication-year">
      <h2>{{ year }}</h2>
      {% for post in year_publications %}
        {% include archive-single.html %}
      {% endfor %}
    </div>
  {% endif %}
{% endfor %}




